# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
.venv/
env/
venv/

# Chave secreta
key.key
key_backup.key

# PyCharm
.idea/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Logs e temporários
*.log
*.tmp